.insTextContainer {
    padding: 31px 56px 49px 24px;
    border-radius: 8px;
    background-color: #ffffff;
}

.insTextTitle {
    margin: 0 0 12px;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.4px;
    color: #333333;
}

.insTextBody {
    margin: 12px 63px 0 4px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #5c5c5c;
}

.noUnderLineTag {
    text-decoration: none;
}

.marginBtns {
    margin: 5px;
}